body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.prueba {
    height: 2000px;
}

.nav-block{
    position: absolute;
    width: 82px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #008705;
}

.nav-wrapper {
    position: sticky;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background-color: #CC0000;

}

.logo {
    position: absolute;
    left: 10px;
    width: 121px;
    height: 70px;
    left: 82px;
    top: 0px;
}

.logo-name {
    position: absolute;
    font-size: 40px;
    text-decoration: none;
    color: white;  
    font-size: 45px;
    line-height: 60px;
    width: 315px;
    height: 50.91px;
    left: 236px;
    top: 8px;
}

nav{
    position: relative;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 15px;
    padding-top: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 32px;
}

aside img{
    position: absolute;
    width: 230px;
    height: 457px;
    left: 915px;
    top: 427px;
}

section div{
    position: absolute;
    width: 711px;
    height: 268px;
    left: 102px;
    top: 461px;

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;

    color:#000000;
}

section h1 {
    position: absolute;
    width: 272px;
    height: 48px;
    left: 465px;
    top: 911px;

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
}

section img {
    width: 289px;
    height: 183px;
}
.izq{
    position: absolute;
    width: 285px;
    height: 183px;
    left: 102px;
    top: 1002px;
    
}
.centro{
    position: absolute;
    width: 289px;
    height: 183px;
    left: 457px;
    top: 1002px;
}
.der{
    position: absolute;
    width: 285px;
    height: 183px;
    left: 813px;
    top: 1002px;
}
