body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.prueba {
    height: 2000px;
}

.nav-block{
    position: absolute;
    width: 82px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #008705;
}

.nav-wrapper {
    position: sticky;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background-color: #CC0000;

}

.logo {
    position: absolute;
    left: 10px;
    width: 121px;
    height: 70px;
    left: 82px;
    top: 0px;
}

.logo-name {
    position: absolute;
    font-size: 40px;
    text-decoration: none;
    color: white;  
    font-size: 45px;
    line-height: 60px;
    width: 315px;
    height: 50.91px;
    left: 236px;
    top: 8px;
}

nav{
    position: relative;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 15px;
    padding-top: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 32px;
}