body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
}

header img{
    max-width: 1200px;
    width: 100%;
}

.portada {
    display: flex;
    background-color: #f0f0f0;
    justify-content: center;
}

.caption {
    background-color: #008705;
    display: flex;
    justify-content: center;
    height: 3vh;
    width: 100%;
}

.caption > p{
    padding-top: 0;
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}



.nav-block{
    position: relative;
    float: left;
    width: 10%;
    height: 60px;
    max-height: 200px;
    max-width: 90px;
    background: #008705;
}

.nav-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #CC0000;

}

.logo {
    position: relative;
    float: left;
    width: 111px;
    height: 60px;
}

.logo-name {
    position: relative;
    float: left;
    font-size: 40px;
    text-decoration: none;
    color: white;  
    margin-left: 1%;
    line-height: 60px;
    height: 50.91px;
}

nav{
    position: relative;
    float: right;
    max-width: 50%;
    width: 25%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
}


nav li {
    margin-right: 8%;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.pizzastitulo{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 72px;

}
.pizzas{
    /*
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;*/
    font-family: 'Red Hat Display', sans-serif;
    
    
}
.main-pizza {
    width: 387px;
    height: 283px;
    
    background: #E6E6E6;
    border-radius: 10px;
    margin-top: 1em;
}
.main-pizza > img{
    width: 387px;
    height: 208px;
    left: 203px;
    top: 301px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}

.main-pizza > p{
    display: flex;
    text-align: justify;
    font-size: 36px;
    margin-top: 12px;
}

.precio-right{
    float: right;
}

nav a > i{
    display: inline;
}

nav li > ul.dropdown {
    position: absolute;
    display: none;
    width: 200px;
    height: 100px;
    background: #CC0000;
    padding-top: 0;
}

nav li > ul.dropdown li {
    display: block;
    padding-top: 1%;
    list-style-type: none;
}

nav li > ul.dropdown li a {
    text-align: end;
    font-size: 17px;
    color: white;
    display: block;
}

nav li:hover > ul.dropdown {
    display: block;
}


footer {
    position: relative;
    /*left: 0;*/
    /*bottom: 0;*/
    width: 100%;
    height: 15%;
    background-color: black;
}

.footer-bottom{
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-copy{
    display: flex;
    justify-content: center;
    color: #797979;
    margin-bottom: 0.5%;
}

.footer-terms{
    display: flex;
    justify-content: center;
}

.footer-terms a{
    text-decoration: none;
    color: white;
    margin-left: 1%;
}

.footer-img{
    display: flex;
    justify-content: center;
}

.footer-img img{
    margin-left: 1%;
    margin-top: 0.5%;
}

.footer-img img.instagram{
    width: 59px;
    height: 40px;
}

.footer-img img.maps{
    width: 44px;
    height: 40px;
}

.footer-img img.phone{
    width: 38px;
    height: 40px;
}

.footer-img img.twitter{
    width: 49px;
    height: 47px;
}

.align{
    display: flex;
}

.align > i {
    margin: 3px 0 0 4px;
}

.center-pizzas {
    display: flex;
    justify-content: center;
}